{{ define "main" }}
<main>
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ range $pages }}
  <article class="post-entry">
    <h2 class="text-xl font-medium">
      <a href="{{ .RelPermalink }}" class="text-gray-900 hover:text-primary/80">{{ .Title }}</a>
    </h2>
    <div class="mt-3 text-gray-500 leading-relaxed prose">
      {{ .Summary }}
    </div>
    <div class="mt-4 flex items-center ">
      {{ with .Params.tags }}
        <div class="flex gap-2">
          {{ range . }}
            <small class="post-tag">
              <span class="text-gray-500 mr-1 inline-block">#</span>{{ . }}
            </small>
          {{ end }}
        </div>
      {{ end }}
      <time class="ml-auto text-xs text-gray-400">{{ .Date.Format "2006-01-02" }}</time>
    </div>
  </article>
  {{ end }}
</main>
{{ end }}
